<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RPCMAS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div> *@

        <div class="nav-item px-3 mt-2 text-uppercase small text-muted">
            <span>Item Catalog</span>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="itemcatalog">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Item List
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-2 text-uppercase small text-muted">
            <span>Requesting</span>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pricechangerequest">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Requests List
            </NavLink>
        </div>

        <div class="nav-item px-3 mt-2 text-uppercase small text-muted">
            <span>Approval</span>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pricechangerequest/approval">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Approval Queue
            </NavLink>
        </div>

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
    </nav>
</div>
